# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Code files
[*.{cs,js,ts,tsx,jsx,json,yml,yaml}]
indent_size = 2

# C# files
[*.cs]
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Batch files
[*.{bat,cmd}]
end_of_line = crlf

# PowerShell files
[*.ps1]
indent_size = 4

# Docker files
[{Dockerfile,Dockerfile.*}]
indent_size = 2

# Configuration files
[*.{xml,csproj,sln,props,targets}]
indent_size = 2
